body, html {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

#side-menu, #graph {
    display: table-cell;
    border: solid;
    vertical-align: top;
}

#side-menu {
    width: 20%;
    background: #708090;
}
#graph {
    width: 80%;
}